@import "bootstrap/bootstrap";
@import "variables";
@import "spacer";
@import "fontawesome/font-awesome";



h1,.h1{
	font-weight: 300;
	font-size: 29px;
	color: #363636;
}
h2,.h2{
	font-weight: 300;
	font-size: 27px;
	color: #363636;
}
h3,.h3{
	font-weight: 300;
	font-size: 23px;
	color: #363636;
	&.bold{
		font-weight: 500;
	}
}
h4,.h4{
	font-weight: 300;
	font-size: 21px;
	color: #363636;
}
h5,.h6{
	font-weight: 300;
	font-size: 19px;
	color: #363636;
}
h6,.h6{
	font-weight: 400;
	font-size: 17px;
	color: @text-color;
}
.h7{
	font-weight: 400;
	font-size: 15px;
	color: #363636;
}

.social{
	list-style: none;
	padding: 0;
	text-align: left;
	li{
		border-right: 1px solid rgba(255,255,255, 0.4);
		display: inline-block;
		height: 30px;
		line-height: 33px;
		padding: 0 14px;
		&:nth-last-of-type(1){
			border-right: none;
		}
		a{
			display: inline-block;
			height: 15px;
			width: 17px;
			&.fb{
				background: url("../img/icons/fb-s.png") no-repeat;
				background-size: contain;
			}
			&.tw{
				background: url("../img/icons/tw-s.png") no-repeat;
				background-size: contain;
			}
			&.ig{
				background: url("../img/icons/ig-s.png") no-repeat;
				background-size: contain;
			}
			&.gp{
				background: url("../img/icons/gp-s.png") no-repeat;
				background-size: contain;
			}

			&:hover{
				opacity: 0.7;
			}
		}
	}
}

p:not([class]){
	font-size: 13px;
	color: @text-color;
	font-weight: 500;
	line-height: 25px;
	text-align: justify;
}
.breadcrumb{
	background: transparent;
	padding-left: 0;
	li{
		a{
			text-decoration: underline;
			color: @text-color;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
ul:not([class]){
	list-style: none;
	padding-left: 17px;
	li{
		position: relative;
		margin-bottom: 5px;
		&::before{
			content: '';
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #b5b5b5;
			position: absolute;
			left: -14px;
			top: 6px;
		}
	}
}



.center-block{
	float: none;
}

.btn-create{
	font-weight: 500;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none!important;
	color: #fff;
	border: 2px solid #fff;
	padding: 12px;
	width: 300px;
	display: block;
	text-align: center;
	border-radius: 4px;
	transition: all ease 0.3s;
	&:hover{
		background: rgba(255,255,255, 0.2);
	}
}

.reg-link{
	color: #fff;
	text-decoration: none!important;
	border-bottom: 1px dashed #fff;
	font-size: 15px;
	margin-top: 15px;
	display: inline-block;
	&:hover,&:focus{
		opacity: 0.7;
		color: #fff;
	}
}

.btn-dashed{

	text-decoration: none!important;
	border: 1px dashed #fff;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	min-width: 112px;
	&:hover{
		opacity: 0.7;
	}

}

.btn-default{
	background: @brand-primary;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	height: 43px;
	border: none;
	transition: all ease 0.3s;
	&:hover {
		border: none;
		background: @brand-primary-hover;
	}
}

.btn-info{
	.btn-default;
	background: transparent;
	color: @brand-primary-hover;
	border: 2px solid @brand-primary-hover;
	transition: all ease 0.3s;
	line-height: 29px;
	font-weight: 500;
	&:hover{
		background: @brand-primary-hover;
		color: #fff;
		border: 2px solid @brand-primary-hover;

	}
	&:focus{
		background: @brand-primary;
		border: 2px solid @brand-primary;
	}
}
.btn-success{
	.btn-info;
	color: @brand-green-hover;
	border-color: @brand-green-hover;
	&:hover{
		background-color: @brand-green-hover;
		border-color: @brand-green-hover;
	}
	&:focus,&:active{
		background-color: @brand-green;
		color: #fff;
		box-shadow: none;
		border-color: @brand-green;
	}
}
.btn-danger{
	.btn-info;
	color: @brand-sub-primary-hover;
	border-color: @brand-sub-primary-hover;
	&:hover{
		background-color: @brand-sub-primary-hover;
		border-color: @brand-sub-primary-hover;
	}
	&:focus,&:active{
		background-color: @brand-sub-primary;
		color: #fff;
		box-shadow: none;
		border-color: @brand-sub-primary;
	}
}

.btn-search{
	.btn-default;
	background: @brand-primary-hover;
	position: relative;
	padding-right: 60px;

	.fa{
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		width: 44px;
		background: @brand-primary;
		height: 100%;
		line-height: 44px;
		border-radius: 4px;
	}
	&:hover{
		background: @brand-primary;
	}
	&:focus{
		background: @brand-primary-hover;
	}
}

.btn-iconed-left{
	.btn-search;
	padding-right: 10px;
	padding-left: 51px;
	line-height: 34px;
	.fa{
		right: auto;
		left: 0;
	}
	&.lg{
		padding-left: 10px;
	}
}

label{
	font-style: italic;
	font-weight: 500;
	margin-bottom: 5px;
	color: #7e878d;
	&.form-text{
		font-style: normal;
		color: #3c3c3c;
	}
	&.form-text-mini{
		text-align: right;
		font-size: 11px;
		font-style: normal;
		float: right;
		margin-top: -11px;
		margin-bottom: 15px;
	}
	&.chb{
		font-style: normal;
		font-size: 15px;
		font-weight: 500;
		color: @brand-grey;
	}
	&.error{
		color: @brand-sub-primary;
		text-align: left;
	}
}

.jq-checkbox{
	border: 2px solid #c0d2f5;
	width: 20px;
	height: 20px;
	border-radius: 0;
	transition: all ease 0.3s;
	margin-right: 12px;
	box-shadow: none;
	background: #fff;
	.jq-checkbox__div{
		transition: all ease 0.3s;
		width: 12px!important;
		height: 12px!important;
		margin: 2px!important;
		background: url("../img/icons/chb.png") no-repeat;
		background-size: contain;
		opacity: 0;
		box-shadow: none!important;
	}
	&:hover{
		border-color: #a1bfff;
	}
	&:active{
		.jq-checkbox__div{
			opacity: 1;
			background: #7eb3ff;
		}
	}
	&.checked{
		.jq-checkbox__div{
			opacity: 1;
			background: url("../img/icons/chb.png") no-repeat;
			background-size: contain;
		}
	}
}

.jq-file{
	width: 100%;
	border: 1px dashed #96caf1;
	height: 54px;

	.jq-file__name{
		height: 54px;
		border: none;
		box-shadow: none;
		padding-left: 60px;
		padding-right: 20px;
		line-height: 53px;
		color: @brand-primary-hover;
		font-size: 15px;
		font-family: @font-family-base;
		span{
			border-bottom: 1px dashed @brand-primary-hover;
		}
	}

	.jq-file__browse{
		right: auto;
		left: 0;
		height: 30px;
		width: 40px;
		border-radius: 0;
		border: none;
		background-color: transparent!important;
		background: url("../img/icons/screpko.png") no-repeat!important;
		background-position: center center !important;
		background-size: contain;
		border-right: 1px solid #b6c9ec;
		box-shadow: none!important;
		font-size: 0;
		color: transparent;
		top: 11px;


	}
	&:hover{
		.jq-file__browse{
			//background-color: transparent;
			//background-position: center center;
		}
	}
	&.focused,&.active{
		.jq-file__browse{
			background-color: transparent;
			background-position: center center;
			background: url("../img/icons/screpko.png") no-repeat;
		}
	}
}

.col-md-4-5{
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	width: 37.333333%;
}

.ui-autocomplete{
	border: 3px solid #30bbee;
	border-radius: 5px;
	background: #fff;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);

	&::before{
		content: '';
		display: block;
		background: url("../img/icons/arr-top.png") no-repeat;
		width: 14px;
		height: 15px;
		position: absolute;
		top: -15px;
		left: 5%;
		z-index: 1;
	}
	.ui-menu-item{
		&.ui-state-focus{
			background: #f2f5f6;
			border: none;
			margin: 0;

		}

		.i-text{
			float: left;
			max-width: 70%;
			color: @text-color!important;
			font-size: 15px;
			font-weight: 400!important;

		}
		.i-qty{
			font-weight: 400!important;
			font-style: italic;
			color: #94a1aa!important;
			text-align: right;
			float: right;
			max-width: 30%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}


.jq-search{
	border: 3px solid #5eafea;
	height: 50px;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	margin-top: 20px;
	position: relative;

	.jqs-text-input{
		border: none;
		background: transparent;
		height: 100%;
		float: left;
		width: 65%;
		outline: none!important;
		padding: 15px 12px;
		font-weight: 400;
		font-size: 17px;
		color: @text-color;
		&.placeholder{
			+.inp-placeholder{
				display: block;
			}

		}



	}
	&::before{
		content: '';
		display: block;
		height: 30px;
		width: 1px;
		border-left: 1px solid #e3e8eb;
		position: absolute;
		top: 7px;
		right: 35%;
	}
	.inp-placeholder{
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 60%;
		font-size: 17px;
		color: @text-color;
		padding: 11px 12px;
		cursor: text;
		.ip-m{
			color: #b9c6ce;
			font-size: 15px;

		}

	}

	.jqs-select{
		float: left;;
		height: 100%;
		width: 35%;
		//position: relative;


		.jqs-select-input{

			float: left;
			border: none;
			background: transparent;
			height: 100%;
			width: 100%;
			outline: none!important;
			padding: 12px 12px;
			font-weight: 400;
			font-size: 17px;
			color: @text-color;
			cursor: pointer;
			&::-webkit-input-placeholder{
				color: @text-color;
			}
			&:-moz-placeholder{
				opacity: 1;
				color: @text-color;
			}
			&::-moz-placeholder{
				opacity: 1;
				color: @text-color;
			}

		}
		.jqs-s-caret{
			position: absolute;
			right: 0;
			padding-right: 16px;
			width: 35%;
			height: 100%;
			display: block;
			text-align: right;
			line-height: 47px;

			top: 0;
			color: #c7cccf;
			font-size: 20px;

		}

		.jqs-select-list{
			display: none;
			z-index: 500;
			position: absolute;
			width: 1000px;
			top: 60px;
			left: -3px;
			border: 3px solid #30bbee;
			border-radius: 7px;
			background: #fff;
			padding: 18px 7px;
			-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);

			&::before{
				content: '';
				display: block;
				background: url("../img/icons/arr-top.png") no-repeat;
				width: 14px;
				height: 15px;
				position: absolute;
				top: -15px;
				right: 40%;
				z-index: 1;
			}


			.jqs-l-first,
			.jqs-l-second{
				display: none;
				label{
					font-weight: 400;
					cursor: pointer;
					width: 24%;
					margin-bottom: 12px;
					input{
						display: none;
						&:checked{
							+span{
								font-weight: 600;
								text-decoration: none;
							}
						}
					}
					span{
						text-decoration: underline;
						color: @text-color;
						font-size: 13px;
					}
					&:hover{
						span{
							text-decoration: none;
						}
					}
				}

				&.jq-l-visible{
					display: block;
				}
			}
			.jqs-return{
				display: none;
				position: absolute;
				padding-left: 26px;
				border-bottom: 1px dashed @text-color;
				color: @text-color;
				font-size: 15px;
				font-weight: 400;
				top: 10px;
				left: 15px;
				&:hover{
					border-bottom-color: transparent;
				}
				&::before{
					content: '';
					display: block;
					position: absolute;
					background: url("../img/icons/arrow-return.png") no-repeat;
					width: 22px;
					height: 5px;
					left: 0;
					top: 5px;
				}
			}
			.jqs-l-second{
				&.jq-l-visible{
					padding-top: 25px;
					&+.jqs-return{
						display: block;
					}
				}
			}
		}
		&.open{
			.jqs-select-list{
				display: block;

			}
			.jqs-s-caret{
				i{
					transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
				}
			}
		}
	}
}

.add-row{
	display: inline-block;
	width: 46px;
	height: 46px;
	border: 2px solid #4ba2d4;
	border-radius: 5px;
	color: #4ba2d4;
	outline: none!important;
	line-height: 41px;
	text-align: center;
	font-size: 37px;
	font-weight: 300;
	&:hover{
		color: #fff;
		background: #4ba2d4;
	}
	&:focus{
		border-color: #3e94c6;
		background: #3e94c6;
		color: #fff;
	}
	&.space-top{
		margin-top: 23px;
	}
}
.add-phone-text{
	display: inline-block;
	margin-left: 12px;
	margin-top: -16px;
}
.extendable-row{
	&:nth-last-of-type(1){
		.add-phone-text{
			display: inline-block;
		}
	}
}



.jq-selectbox{
	width: 100%;
	height: 38px;

	.jq-selectbox__select{
		border: none;
		box-shadow: none;
		background: #fff;
		height: 100%;
		font-size: 16px;
		font-family: 'Roboto';
		font-weight: 400;
		line-height: 38px;
		.jq-selectbox__select-text{
			font-size: 16px;
			font-family: 'Roboto';
			font-weight: 400;
			line-height: 41px;
			color: @text-color;
		}
		.jq-selectbox__trigger{
			border: none;
			.jq-selectbox__trigger-arrow{
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				transform: translate(0, 0);
				overflow: visible;
				right: 17px;
				top: 11px;
				border: none;
				&:before{
					content: "\f105";
				}
			}
		}
	}
	.jq-selectbox__dropdown{
		top: 50px;
		bottom: 50px;
	}



	&.blue-border{
		border: 3px solid #5eafea;
		border-radius: 5px;
		height: 50px;
		.jq-selectbox__dropdown{
			top: 58px;
			bottom: 58px;
		}
	}
	&.select-1{
		.jq-selectbox__dropdown{
			border: 3px solid #5eafea;
			border-radius: 5px;
			&::before{
				content: '';
				display: block;
				background: url("../img/icons/arr-top.png") no-repeat;
				width: 14px;
				height: 15px;
				position: absolute;
				top: -15px;
				left: ~"calc(50% - 7px)";
				z-index: 1;
			}
			ul{
				li{
					&:hover,
					&.sel{
						background: #f2f5f6;
						color: @text-color;
					}
				}
			}
		}
	}
	&.select-2{
		margin-bottom: 20px;
		.jq-selectbox__select{
			border: 2px solid @input-border;
			border-radius: 5px;
			height: 46px;
			padding-left: 17px;
			.jq-selectbox__select-text{
				font-size: 13px;
				color: @input-color;
				font-family: 'Roboto';
				font-weight: 500;
			}
			.jq-selectbox__trigger{
				width: 41px;
				&::before{
					content: '';
					display: block;
					height: 30px;
					width: 1px;
					border-right: 1px solid @input-border;
					position: absolute;
					left: 0;
					top: 6px;
				}
				.jq-selectbox__trigger-arrow{
					right: 27px;
					font-size: 22px;
					top: 10px;
					color: @input-border;
					opacity: 1;
					&:before{
						content: "\f107";
					}
				}
			}
		}
		.jq-selectbox__dropdown{
			border: 2px solid @input-border;
			border-top: none;
			top: 45px;
			padding-top: 5px;
			padding-bottom: 5px;
			ul{
				overflow: hidden!important;
				max-height: 200px!important;
				li{
					font-size: 13px;
					color: @input-color;
					font-family: 'Roboto';
					font-weight: 500;
					padding-left: 17px;
					&:hover,&.sel{
						opacity: 0.6;
						background: transparent;
					}

				}
			}
		}
	}
	&.select-3{
		margin-bottom: 20px;
		.jq-selectbox__select{
			border: 2px solid transparent;
			background: url("../img/icons/plaha-sel-def.png") no-repeat;
			background-size: 100% 100%;
			border-radius: 5px;
			height: 46px;
			padding-left: 17px;
			.jq-selectbox__select-text{
				font-size: 13px;
				color: @input-color;
				font-family: 'Roboto';
				font-weight: 500;
			}
			.jq-selectbox__trigger{
				width: 41px;
				&::before{
					content: '';
					display: block;
					height: 30px;
					width: 1px;
					border-right: 1px solid @input-border;
					position: absolute;
					left: 0;
					top: 6px;
				}
				.jq-selectbox__trigger-arrow{
					right: 27px;
					font-size: 22px;
					top: 10px;
					color: @input-border;
					opacity: 1;
					&:before{
						content: "\f107";
					}
				}
			}
		}
		.jq-selectbox__dropdown{
			border: 2px solid transparent;
			border-top: none;
			top: 44px;
			padding-top: 5px;
			padding-bottom: 5px;
			ul{
				overflow: hidden!important;
				max-height: 200px!important;
				li{
					font-size: 13px;
					color: @input-color;
					font-family: 'Roboto';
					font-weight: 500;
					padding-left: 17px;
					&:hover,&.sel{
						opacity: 0.6;
						background: transparent;
					}

				}
			}
		}
		&.disabled{
			.jq-selectbox__select{
				background: url("../img/icons/plaha-sel-disabled.png") no-repeat ;
				background-size: 100% 100%;
				&::after{
					display: none!important;
				}
			}
			.jq-selectbox__dropdown{
				display: none!important;
			}
		}
		.mCustomScrollBox > .mCSB_scrollTools{
			right: 7px;
		}
	}

	&.opened{
		.jq-selectbox__select{
			.jq-selectbox__trigger{
				.jq-selectbox__trigger-arrow{
					transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					top: 18px;
					right: 8px;
				}
			}
		}

		&.select-2{
			.jq-selectbox__select{
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-color: #e1e8f7!important;
				.jq-selectbox__trigger{
					.jq-selectbox__trigger-arrow{
						transform: rotate(-90deg);
						-webkit-transform: rotate(-90deg);
						-moz-transform: rotate(-90deg);
						-o-transform: rotate(-90deg);
						-ms-transform: rotate(-90deg);
						top: 27px;
						right: 29px;
					}
				}
			}
			.jq-selectbox__dropdown{
				box-shadow: none;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
		&.select-3{
			.jq-selectbox__select{
				background: url("../img/icons/plaha-sel-topt-active.png") no-repeat;
				background-size: 100% 100%;
				&::after{
					border-bottom: 1px solid #e1e8f7!important;
					content: '';
					display: block;
					width: 96%;
					left: 5px;
					bottom: 0;
					height: 1px;
					position: absolute;

				}
				.jq-selectbox__trigger{
					.jq-selectbox__trigger-arrow{
						transform: rotate(-90deg);
						-webkit-transform: rotate(-90deg);
						-moz-transform: rotate(-90deg);
						-o-transform: rotate(-90deg);
						-ms-transform: rotate(-90deg);
						top: 27px;
						right: 29px;
					}
				}
			}
			.jq-selectbox__dropdown{
				box-shadow: none;
				background: url("../img/icons/plaha-sel-bot-active.png") no-repeat #fff;
				background-size: 100% 100%;
			}
			&.disabled{
				.jq-selectbox__select{
					background: url("../img/icons/plaha-sel-disabled.png") no-repeat ;
					background-size: 100% 100%;
				}
			}
		}

	}
	&.focused{
		&.select-2{
			.jq-selectbox__select{
				border-color: @input-border-focus;
			}
			.jq-selectbox__dropdown{
				border-color: @input-border-focus;
			}
		}
	}


}



.ajax-2-select{
	border: 3px solid #5eafea;
	height: 50px;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	margin-top: 20px;
	position: relative;


	.aj2-select{
		float: left;;
		height: 100%;
		width: 100%;
		//position: relative;


		.aj2-select-input{

			float: left;
			border: none;
			background: transparent;
			height: 100%;
			width: 100%;
			outline: none!important;
			padding: 12px 12px;
			font-weight: 400;
			font-size: 17px;
			color: @text-color;
			cursor: pointer;
			&::-webkit-input-placeholder{
				color: @text-color;
			}
			&:-moz-placeholder{
				opacity: 1;
				color: @text-color;
			}
			&::-moz-placeholder{
				opacity: 1;
				color: @text-color;
			}

		}
		.aj2-s-caret{
			position: absolute;
			right: 0;
			padding-right: 16px;
			width: 100%;
			height: 100%;
			display: block;
			text-align: right;
			line-height: 47px;

			top: 0;
			color: #c7cccf;
			font-size: 20px;

		}

		.aj2-select-list{
			display: none;
			z-index: 500;
			position: absolute;
			width: 100%;
			width: auto;
			white-space: nowrap;
			top: 60px;
			right: -3px;
			border: 3px solid #30bbee;
			border-radius: 7px;
			background: #fff;
			padding: 18px 7px;
			-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);

			&::before{
				content: '';
				display: block;
				background: url("../img/icons/arr-top.png") no-repeat;
				width: 14px;
				height: 15px;
				position: absolute;
				top: -15px;
				right: 27%;
				z-index: 1;
			}

			.list-wrapper{
				display: inline-block;
				max-height: 200px;
				width: 246px;
				white-space: normal;
			}
			.aj2-l-first,
			.aj2-l-second{
				label{
					font-weight: 400;
					cursor: pointer;
					width: 100%;
					input{
						display: none;
						&:checked{
							+span{

								text-decoration: none;
								background: #E4E6E7;
							}

						}
					}
					span{
						text-decoration: none;
						color: @text-color;
						font-size: 15px;
						display: inline-block;
						width: 100%;
						padding: 5px 25px;
					}
					&:hover{
						span{
							opacity: 0.7;
						}
					}
				}

				&.jq-l-visible{
					display: block;
				}
			}
			.aj2-return{
				display: none;
				position: absolute;
				padding-left: 26px;
				border-bottom: 1px dashed @text-color;
				color: @text-color;
				font-size: 15px;
				font-weight: 400;
				top: 10px;
				left: 15px;
				&:hover{
					border-bottom-color: transparent;
				}
				&::before{
					content: '';
					display: block;
					position: absolute;
					background: url("../img/icons/arrow-return.png") no-repeat;
					width: 22px;
					height: 5px;
					left: 0;
					top: 5px;
				}
			}
		}
		&.open{
			.aj2-select-list{
				display: block;

			}
			.aj2-s-caret{
				i{
					transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
				}
			}
		}
	}
}

.expander {
	&.open {
		.expander-control {

		}
		.expander-container {
			display: block;
		}
		.only-open {
			display: block;
		}
		.only-hide {
			display: none;
		}
		.exp-caret{
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	.expander-control {
		cursor: pointer;

	}
	.expander-container {
		display: none;
	}
	.only-open {
		display: none;
	}
}
.expander-multilevel{
	&.open {
		.expander-control {

		}
		>.expander-container {
			display: block;
		}
		.only-open {
			display: block;
		}
		.only-hide {
			display: none;
		}
		.exp-caret{
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	.expander-control {
		cursor: pointer;

	}
	.expander-container {
		display: none;
	}
	.only-open {
		display: none;
	}
}

.i-msg{
	background: url("../img/icons/i-msg.png") no-repeat;
	width: 11px;
	height: 12px;
	display: inline-block;
}
.i-star{
	background: url("../img/icons/i-star.png") no-repeat;
	width: 13px;
	height: 13px;
	display: inline-block;
}

.i-arrow-right{
	background: url("../img/icons/arrow-blue-right.png") no-repeat;
	width: 22px;
	height: 5px;
	display: inline-block;
}
.i-arrow-left{
	background: url("../img/icons/arrow-blue-left.png") no-repeat;
	width: 22px;
	height: 5px;
	display: inline-block;
}

// Magnific Popup styles
.mfp-bg{
	background: #1f8fe2;
	min-width: @container-lg;
}
.mfp-wrap{
	.mfp-close{
		cursor: pointer!important;
	}
}

.mail-icon{
	background: url("");
}

.form-control{
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	height: 46px;
	font-weight: 500;
	padding: 6px 14px;
	margin-bottom: 19px;
	&.error{
		border-color: @brand-sub-primary-hover;
		
	}
	&.chalk-form{
		border: transparent;
		background: url("../img/icons/plaha-def.png") no-repeat;
		background-size: 100% 100%;
		transition: all ease 0.3s;
		box-shadow: none;
		&:focus{
			box-shadow: none;
			background: url("../img/icons/plaha-active.png") no-repeat;
			background-size: 100% 100%;
		}
		&.error{
			background: url("../img/icons/plaha-error.png") no-repeat;
			background-size: 100% 100%;
		}
	}
}

.chalk-text-cnt{
	background: url("../img/icons/plaha-text.png") no-repeat !important;
	background-size: 100% 100%!important;
	padding: 5px;
	margin: 0;
	textarea{
		border: transparent;
		resize: vertical;
		width: 100%;
		min-height: 180px;
		box-shadow: none;
		margin-bottom: 0;
	}
}
textarea{
	&.chalk-form{
		border: transparent;
		background: url("../img/icons/plaha-text.png") no-repeat !important;
		background-size: 100% 100%!important;
		resize: vertical;
		width: 100%;
		min-height: 180px;
	}
	&.form-control{
		resize: vertical;
		width: 100%;
		min-height: 100px;
	}
}

.input-group{
	width: 100%;
	display: block;
	margin-bottom: 19px;
	float: left;

	.input-group-addon{
		display: block;
		border: none;
		position: absolute;
		background: transparent;
		width: 47px;
		height: 46px;
		left: 0;
		top: 0;
		z-index: 3;
		font-size: 18px;
		line-height: 35px;
		color: @input-border;

		&::after{
			content: '';
			display: block;
			height: 30px;
			width: 1px;
			border-right: 1px solid @input-border;
			position: absolute;
			right: 0;
			top: 8px;
		}
	}
	.form-control{
		display: block;
		border-radius: 5px!important;
		padding-left: 52px;
		margin-bottom: 0;
		&:focus{

			+.input-group-addon{
				color: @input-border-focus;
				&::after{
					border-color: @input-border-focus;
				}
			}
		}
		&.error{
			border-color: @brand-sub-primary-hover;
			~.input-group-addon{
				color: @brand-sub-primary-hover;
				font-family: 'Vlad-glif';
				text-align: center;
				&::after{
					border-color: @brand-sub-primary-hover;

				}
				&::before{
					content: '2';
				}
			}
		}
		&.valid{
			border-color: @brand-green;
			~.input-group-addon{
				color: @brand-green;
				font-family: 'Vlad-glif';
				text-align: center;
				&::after{
					border-color: @brand-green;

				}
				&::before{
					content: '1';
				}
			}
		}

	}
}

.form-link{
	font-size: 17px;
	color: @brand-primary-hover-2;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
		color: @brand-primary-hover-2;
	}
}

.pf-selector{
	.pfs-label{
		cursor: pointer;
		input{
			display: none;
			&:checked{
				+.pfs-text{
					opacity: 0.5;
					.fa{
						&::before{
							content: "\f105";
						}
					}
					span{
						border-bottom: transparent;
					}
				}
			}
		}
		.pfs-text{
			font-weight: 500;
			font-size: 15px;
			font-style: normal;
			color: @brand-primary-hover-2;
			span{
				border-bottom: 1px dashed @brand-primary-hover-2;
			}
			&:hover{
				span{
					border-bottom: transparent;
				}
			}
		}
	}
}
.pf-check-cnt{
	display: none;
}

.image-upload{
	position: relative;
	.drop-area{
		width: 100%;
		height: 200px;
		position: absolute;
	}
	#thumbnail{
		.img-thumb{
			width: 24%;
			margin-right: 1%;
			height: 100px;
			overflow: hidden;
			float: left;
			border-radius: 5px;
			position: relative;
			margin-bottom: 10px;

			&.placeholder{
				border: 1px dashed #96caf1;
				background: #f7fcff;
			}
			&:nth-of-type(4n+4){
				margin-right: 0;
			}
			&:nth-of-type(n+7){
				display: none;
			}
			.delete-img{
				position: absolute;
				z-index: 10;
				width: 56px;
				height: 56px;
				border-radius: 50%;

				background: #fff;
				left: ~"calc(50% - 28px)";
				top: ~"calc(50% - 28px)";
				opacity: 0.3;
				&:hover{
					opacity: 0.8;
				}
				&::after{
					content: '2';
					font-family: Vlad-glif;
					background: @brand-sub-primary;
					color: #fff;.image-add{}
					border-radius: 50%;
					display: block;
					width: 52px;
					height: 52px;
					position: absolute;
					left: 2px;
					top: 2px;
					text-align: center;
					line-height: 52px;
				}
			}
			.image-add{
				position: absolute;
				z-index: 10;
				width: 56px;
				height: 56px;
				border-radius: 50%;

				background: #fff;
				left: ~"calc(50% - 28px)";
				top: ~"calc(50% - 28px)";
				opacity: 0.3;
				&:hover{
					opacity: 0.8;
				}
				&::after{
					content: '9';
					font-family: Vlad-glif;
					background: @brand-primary-hover-2;
					color: #fff;.image-add{}
					border-radius: 50%;
					display: block;
					width: 52px;
					height: 52px;
					position: absolute;
					left: 2px;
					top: 2px;
					text-align: center;
					line-height: 52px;
				}
			}
		}
		.max-photo{
			float: left;
			margin-top: 27px;
		}
	}
}

.fa-lock{
	font-family: 'Vlad-glif';
	&:before{
		content: '7';
	}
}

body{

	header{
		width: 100%;
		min-height: 133px;
		background: url("../img/header-bg.png") repeat-y;
		background-position: top center;
		background-size: cover;
		padding-top: 40px;
		min-width: @container-lg;

		.logo{
			margin-top: -10px;
		}
		.r-col{
			.btn-dashed{
				margin-left: 28px;
			}
			white-space: nowrap;
			.reg-link{
				overflow: hidden;
				max-width: 160px;
				text-overflow: ellipsis;
				margin-bottom: -7px;
			}
		}
	}

	.header-menu{
		width: 100%;
		min-width: @container-lg;
		box-shadow: inset 0px 0 9px 0 rgba(8,32,49,.3);
		min-height: 84px;
		background: url("../img/header-bg.png") repeat-y;
		background-position: top center;
		background-size: cover;
	}


	footer{
		width: 100%;
		min-height: 133px;
		background: url("../img/header-bg.png") repeat-y;
		background-position: top center;
		background-size: cover;
		padding-top: 40px;
		padding-bottom: 20px;
		color: #fff;
		min-width: @container-lg;

		h3{
			color: #fff;
		}
		.f-list{
			list-style: none;
			width: 100%;
			padding: 0;
			margin-top: 24px;
			margin-bottom: 6px;
			li{
				display: block;
				float: left;
				width: 33.3%;
				min-height: 28px;
				margin-bottom: 5px;
				a{
					text-decoration: underline;

					color: #fff;
					&:hover,&:focus{
						text-decoration: dashed
					;
					}
				}
			}
		}
		.f-shadow{
			padding-top: 20px;
			position: relative;
			&:before{
				content: '';
				display: block;
				width: 100%;
				height: 27px;
				background: url("../img/shadow-1.png") no-repeat;
				background-size: 100% 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.f-text{
			font-size: 11px;
			color: #fff;
			font-weight: 400;
			text-align: center;
			margin-top: 13px;
		}
		.s-footer{
			margin-top: 16px;
			text-align: right;
		}
	}
	.container-fluid{
		min-width: @container-lg;
	}

	.wrapper{
		min-height: 600px;

		.sidebar{
			padding-left: 20px;

		}

		.main-cat{
			text-decoration: underline;
			margin-top: 35px;
			text-align: center;
			.img-cnt{
				img{
					max-width: 98%;
					transition: all ease 0.5s;
					transform: scale(1);
				}
				height: 128px;
				margin-bottom: 18px;
			}

			p{
				color: #1f8fe2;
				text-align: center;
			}
			&:hover{
				text-decoration: none;
				img{
					transform: scale(1.09);
				}
			}
		}
		
		.mp-plaha{
			margin-top: 35px;
			background: url("../img/devuska-i-plaha.png") no-repeat;
			background-size: contain;
			min-height: 230px;
			padding-left: 309px;
			padding-top: 40px;
			padding-right: 100px;
			p{
				font-style: italic;
				color: #566a77;
				line-height: 21px;
				font-weight: 500;
				font-size: 0.9em;
			}
		}


		.item-pill{
			margin-bottom: 15px;
			.ip-cnt{
				border: 1px dashed #e4e4e4;
				margin: 0;
				border-radius: 7px;
				padding: 19px 0;

				.image-cnt{
					height: 100px;
					padding-left: 22px;
					padding-right: 67px;
					img{
						max-width: 100%;
						max-height: 100%;
					}
				}

				.ip-info{
					.row-2{
						margin-top: 8px;
					}
				}
				.ip-text{
					min-height: 75px;
					max-height: 100px;
					overflow: hidden;
				}
				.ip-title{
					font-size: 21px;
					font-weight: 500;
					color: #1f8fe2;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}


				}
				.ip-top{
					display: none;
					//background: #7272e9;
					border-radius: 16px;
					font-size: 19px;
					color: #E28A14;
					padding: 2px 5px;
					margin-left: 10px;
				}

				.ip-price{
					font-weight: 500;
					font-size: 27px;
					color: #3c3c3c;
					.currency{
						font-size: 15px;
					}
				}

				.ip-message{
					display: none;
					color: @brand-primary;
					.i-msg{
						margin-bottom: -3px;
					}

				}
				.ip-cat{
					margin-bottom: 0;
					color: #566a77;
					white-space: nowrap;
					overflow: hidden;
					width: 100%;
					text-overflow: ellipsis;
				}



			}

			&.item-top{
				.ip-top{
					display: inline-block!important;
				}
				.ip-cnt{
					border: 2px solid #FDD7A3;
					background: #FBE4C6;
					background-size: 100% auto;
				}
			}
			&.item-torg{
				.ip-message{
					display: block!important;
				}
			}
		}
		.ip-date{
			margin-top: 10px;
			color: #3c3c3c;
			font-size: 11px;
			margin-bottom: 0;
		}

		.ip-favorite{
			color: #ee8800;
			.i-star{
				margin-bottom: -2px;
			}
			span{
				text-decoration: underline;
			}

			&:hover{
				span{
					text-decoration: none;
				}
			}
		}

		.lk-advert{
			.ip-info{
				padding: 0 24px;
			}
			.ip-text{
				min-height: 90px;
			}
			.row-btn{
				padding-top: 20px;
				position: relative;
				&::before{
					border-top: 1px solid #eeeeee;
					position: absolute;
					top: 0;
					left: 10px;
					width: 100%;
					width: ~"calc(100% - 20px)";
				}
			}
		}
		.link-iconed{
			i{
				display: inline-block;
				margin-right: 10px;
			}
			&.l-show{
				color: @brand-primary;
				i{
					background: url("../img/icons/i-show.png") no-repeat;
					width: 18px;
					height: 11px;
				}
			}
			&.l-edit{
				color: #6262c2;
				i{
					background: url("../img/icons/i-edit.png") no-repeat;
					width: 12px;
					height: 12px;
				}
			}
			&.l-activate{
				color: @brand-green;
				i{
					background: url("../img/icons/i-activate.png") no-repeat;
					width: 11px;
					height: 12px;
				}
			}
			&.l-delete{
				color: @brand-sub-primary;
				i{
					background: url("../img/icons/i-delete.png") no-repeat;
					width: 10px;
					height: 11px;
				}
			}
			&:hover{
				opacity: 0.6;
			}
		}

		.pagination{
			width: 100%;
			text-align: center;
			height: 40px;
			li{
				display: inline-block;
				span,a{
					min-width: 37px;
					height: 37px;
					border: none;
					font-size: 15px;
					font-weight: 400;


					&:hover,
					&:focus{
						font-size: 17px;
						font-weight: 500;
						border-radius: 50%;
						background: @brand-primary-hover-2;
					}
				}
				&.prev,&.next{
					float: left;

					a,span{
						border-radius: 0;
						font-size: 15px;
						font-weight: 400;
						text-decoration: none;
						color: @brand-primary-hover-2;
						background: transparent!important;
						i{

							margin: 0 10px 3px 10px;
						}
						>span{
							text-decoration: underline;
						}
						&:hover,&:active,&:focus{
							color: @brand-primary-hover-2;
							background: transparent!important;
							>span{
								text-decoration: none;
							}
						}
					}

				}
				&.next{
					float: right;

				}
				&.disabled{
					opacity: 0.5;
					&:hover{
						a,span{
							background: transparent;
							font-size: 15px;
							font-weight: 400;
						}
					}
				}
			}
		}
		.sub-cat-head{
			border-bottom: 1px dashed #e4e4e4;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}


		.item-pagi{
			background: #eff9fe;
			border-radius: 5px;
			padding: 20px 28px;
			text-align: center;
			float: left;
			width: 100%;
			.prev,.next{
				display: inline-block;
				float: left;

				a,span{
					border-radius: 0;
					font-size: 15px;
					font-weight: 400;
					text-decoration: none;
					color: @brand-primary-hover-2;
					i{

						margin: 0 10px 3px 10px;
					}
					>span{
						text-decoration: underline;
					}
					&:hover{
						color: @brand-primary-hover-2;
						background: transparent;
						>span{
							text-decoration: none;
						}
					}
				}

			}
			.next{
				float: right;

			}

			.breadcrumb{
				background: transparent;
				display: inline-block;
				margin-bottom: 0;
				padding: 0 10px;
			}
		}

		.profile-pagi{
			.item-pagi;
			height: 63px;
			text-align: justify;
			border: 1px dashed #96caf1;

			.pagi-list{
				padding: 0;
				list-style: none;
				margin-bottom: 0;
				li{
					display: inline-block;
					width: 33%;
					text-align: center;

					a{
						opacity: 0.6;
						color: @text-color;
						font-size: 15px;
						position: relative;
						display: inline-block;
						transition: all ease 0.5s;
						font-weight: 500;
					}
					&.active,&:hover{
						a{
							opacity: 1;
							color: #6874f2;
							font-weight: 600;
							&:after{
								background: url("../img/icons/hero-line-1.png") no-repeat;
								background-size: 100% 100%;
								height: 4px;
								width: 100%;
								content: '';
								display: block;
								bottom: -6px;
								left: 0;
							}

						}
					}
				}

			}
		}

		.prev-bt,.next-bt{
			display: inline-block;
			float: left;

			a,span{
				border-radius: 0;
				font-size: 15px;
				font-weight: 400;
				text-decoration: none;
				color: @brand-primary-hover-2;
				i{

					margin: 0 10px 3px 10px;
				}
				>span{
					text-decoration: underline;
				}
				&:hover{
					color: @brand-primary-hover-2;
					background: transparent;
					>span{
						text-decoration: none;
					}
				}
			}

		}
		.next-bt{
			float: right;

		}

		.item-page-container{
			border: 1px dashed #e4e4e4;
			border-radius: 5px;
			padding: 24px;
			padding-top: 6px;
		}

		.ipc-title{
			.title-link{
				font-size: 21px;
				font-weight: 500;
				color: @brand-primary-hover-2;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.ipc-sub{
			font-size: 17px;
			font-weight: 400;
			color: #3c3c3c;
			text-align: right;
			padding-top: 10px;
		}
		.ipc-date{
			color: #3c3c3c;
			font-size: 13px;
		}
		.ipc-images{
			margin-bottom: 26px;
			.item-image{
				display: block;
				float: left;
				width: 24.25%;
				height: 79px;
				margin-right: 1%;
				overflow: hidden;
				margin-bottom: 7px;

				&:nth-of-type(1){
					width: 100%;
					height: 330px;
					margin-right: 0;
				}
				&:nth-of-type(5n+5){
					margin-right: 0;
				}
			}
		}
		.ipc-price{
			width: 90%;
			text-align: center;
			color: #fff;
			font-size: 27px;
			font-weight: 500;
			height: 48px;
			line-height: 48px;
			float: right;
			background: url("../img/icons/price-bg.png") no-repeat;
			background-size: 100% 100%;
			.currency{
				font-size: 15px;
				font-weight: 400;
			}
		}
		.ipc-contact{
			text-align: center;
			margin-top: 24px;
			>h4{
				margin-bottom: 20px;
			}
			.ipc-contact-cnt{
				background: #e9f9fe;
				border-radius: 5px;
				padding: 24px;

				h3{
					font-weight: 500;
					margin-bottom: 22px;
					margin-top: 0;
				}

				.all-items{
					margin-bottom: 15px;
					color: @brand-primary-hover-2;
					text-decoration: underline;
					display: inline-block;
					&:hover{
						text-decoration: none;
					}
				}

				a{
					&.expander-control{
						font-size: 17px;
						color: @brand-primary-hover-2;
						text-decoration: none;
						border-bottom: 1px dashed @brand-primary-hover-2;
						&:hover{
							border-bottom-color: transparent;
						}
					}
				}
			}
			&.go-top{
				margin-top: 0;
				.ipc-contact-cnt{

					border: 1px dashed #96caf1;

					.to-pay{
						text-align: center;
						font-size: 17px;
						color: @brand-primary;
						span{
							font-size: 29px;
							font-weight: 500;
						}
					}
				}
			}
		}

		.c-phone{
			font-size: 23px;
			font-weight: 500;
			color: @brand-grey;
			&:nth-last-of-type(1){
				margin-bottom: 30px;
			}

			.t-code{
				font-size: 15px;
				font-weight: 400;
			}
		}
		.c-other{
			font-size: 21px;
			font-weight: 500;
			color: @brand-grey;
			.c-title{
				font-size: 15px;
				font-weight: 400;
			}
		}

		.profle-cnt{
			border: 1px dashed #e4e4e4;
			border-radius: 5px;
			padding: 35px 160px;
		}
		.pay-cnt{
			border: 1px dashed #e4e4e4;
			border-radius: 5px;
			padding: 25px;

		}
		.faq-page{
			.expander-multilevel{
				.link-underline{
					font-size: 21px;
					color: @brand-primary-hover-2;
					font-weight: 300;
					text-decoration: underline;
					margin-bottom: 9px;
					display: inline-block;
					&:hover{
						text-decoration: none;
					}

				}
				.expander-container{
					.link-underline{
						font-size: 17px;
					}
				}
				&.open{
					>.link-underline{
						color: #7e878d;
					}
				}

			}
		}

		.cont-fon{
			margin-top: 11px;
			width: 100%;
			padding: 30px 20px;
			border-radius: 4px;
			background: rgba(237,251,255,1);
			background: -moz-linear-gradient(top, rgba(237,251,255,1) 0%, rgba(213,237,250,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,251,255,1)), color-stop(100%, rgba(213,237,250,1)));
			background: -webkit-linear-gradient(top, rgba(237,251,255,1) 0%, rgba(213,237,250,1) 100%);
			background: -o-linear-gradient(top, rgba(237,251,255,1) 0%, rgba(213,237,250,1) 100%);
			background: -ms-linear-gradient(top, rgba(237,251,255,1) 0%, rgba(213,237,250,1) 100%);
			background: linear-gradient(to bottom, rgba(237,251,255,1) 0%, rgba(213,237,250,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edfbff', endColorstr='#d5edfa', GradientType=0 );

			.c-phone{
				margin-bottom: 0;
			}
		}


	}


	.mini-form{
		border: 1px dashed #e4e4e4;
		padding: 40px 50px;
		padding-top: 20px;
		border-radius: 7px;
		text-align: center;
	}

	.white-popup{
		width: 470px;
		margin: auto;
		padding: 40px 45px;
		background: #ffffff;
		box-shadow: 0px 0px 21px 0px rgba(13, 83, 132, 0.196);
		border-radius: 5px;
		position: relative;

		&.narrow{
			width: 335px;
			padding: 50px 40px;
			padding-top: 40px;
		}
		.mfp-close{
			right: -42px;
			top: -14px;
			color: #fff;
		}
		h3{
			color: @brand-primary;
			font-weight: 400;

		}
		p{
			text-align: center;
			font-size: 19px;
			font-weight: 300;
		}


	}
}


.mCustomScrollBox{
	.mCSB_scrollTools{
		.mCSB_draggerContainer{
			.mCSB_dragger{
				.mCSB_dragger_bar{
					background: #c2e3f9!important;
				}
			}
			.mCSB_draggerRail{
				width: 4px;
				background: #e9f5fd!important;
			}
		}
	}
}