@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,cyrillic);

@font-face {
	font-family: 'Vlad-glif';
	src: url('../fonts/Glyphter.ttf');
}

/*Количество колонок bootstrap*/
@grid-columns: 12;
/*Отступ между колонками*/
@grid-gutter-width: 20px;
/* серый фон страницы*/
@body-bg: #ffffff;
/*Основной шрифт*/
@brand-font: 'Roboto', sans-serif;
/*Специфический фиолетовый цвет в дизайте страницы*/
@brand-primary: #015999;
/*Цвет ховера*/
@brand-primary-hover: #0065af;
/*дополнительный цвет*/
@brand-sub-primary: #e16060;
@brand-sub-primary-hover: #ee7474;
@brand-green: #60be96;
@brand-green-hover: #60cc9f;

@brand-primary-hover-2: #1f8fe2;



/*Фон панелей*/
@panel-bg: #363636;
/*Цвет рамки панелей*/
@panel-inner-border: @brand-primary;
/*Убираем скругление у блоков*/
@border-radius-base: 5px;
/*Первичные кнопки имеют фиолетовый фон*/
@btn-primary-bg: @brand-primary;

@brand-grey: #3c3c3c;

/*Размеры сеток*/

/*Если ширина экрана больше 992px то ширина контейнера 1000px*/
@container-md: @container-lg;
@screen-md: 10px;
/*Если ширина экрана больше 1200px, то ширина контейнера 1260px*/
@container-lg: 1020px;
@container-sm: @container-lg;

@grid-float-breakpoint: @screen-md;


/*Основным шрифтом будет Roboto*/
@font-family-base: 'Roboto', sans-serif;
/*задаем базовый размер текста на странице*/
@font-size-base: 13px;
/*основной цвет текста на странице*/
@text-color: #566a77;
/*Active tex color*/
@active-text-color: #747c44;
/*Цвет обычного текста*/
@plain-text-color: #7a7979;
/*серый фон текстовых полей*/
@input-bg: @body-bg;
/*Формы ввода*/
/*Цвет границы поля ввода*/
@input-border: #9ab3e4;
/*Цвет при наведении*/
@input-border-focus: #6dadff;
/*серый цвет текста в полях*/
@input-color: #7e878d;


@ad-border-color: #abbd37;
/*Цвет базового бордера*/
@border-base-color: #cac8c8;

/*Цвет ссылки при наведении*/
@link-hover-color: #1c1c1c;
/*Ссылка не подчеркнута при наведении*/
@link-hover-decoration: none;

/*Настройки кнопок*/
/*Цвет текста в кнопках*/
@btn-default-color: #FFF;
/*Содержимое кнопок*/
@btn-default-bg: @brand-primary;
/*Границы кнопок*/
@btn-default-border: @brand-primary;

/*Стили заполненныйх зеленых кнопок*/
@btn-primary-color: @body-bg;
/* заполненныйх зеленых кнопок*/
@btn-primary-bg: @brand-sub-primary;
/*Границы белых кнопок*/
@btn-primary-border: @btn-primary-bg;


@btn-info-color: #b8b7b7;



/*высота навигационного меню*/
@navbar-height: 37px;
/*задаем  побольше горизонтальный отступ*/
@nav-link-padding: 10px 30px;
/*Ховер навигационного меню*/
@nav-link-hover-bg: transparent;
/*фон для пунктов меню*/
@navbar-default-bg: transparent;
/*Цвет бордера у навигационного меню*/
@navbar-default-border: transparent;
/*цвет текста в пунктах меню*/
@navbar-default-link-color: #b2b2b2;
/*и при наведении мышки – такой же*/
@navbar-default-link-hover-color: @navbar-default-link-color;
/*фон активного пункта меню – наш специфический голубой цвет*/
@navbar-default-link-active-bg: @brand-primary;
/*цвет текста активного пункта меню*/
@navbar-default-link-active-color: @body-bg;

@list-group-bg: @panel-bg;
@list-group-border: @panel-inner-border;

/*Стила главного слайдера*/
@carousel-control-color: #fff;
@carousel-indicator-bg: #fff;
@carousel-indicator-active-bg: @brand-primary;
@carousel-indicator-border-color: transparent;
@carousel-caption-color: @carousel-control-color;

/*Paginator*/
@pagination-color: @plain-text-color;
@pagination-bg: transparent;
@pagination-border: @brand-primary;
@pagination-hover-color: @body-bg;
@pagination-hover-bg: @brand-primary;
@pagination-hover-border: @pagination-hover-bg;


@tooltip-bg: @brand-primary;